<div id="page">
  <div class="container">
    <%= render :partial => 'home/header', :locals => {:page => 'home'} %>
      <div class="learnMore span-12"> 
      </div>
    <!-- end banner -->
    <!-- end main -->
    <!-- end main -->
    <!-- <div class="paint">
      <p>&nbsp;<br>
      <a href="/front/why.html">why bettermeans?</a>
      </p>
    </div> -->
    <div class="span-12 left" id="homebanner">
      <!-- end main-inner -->
    </div>
    
  </div>
  <!-- / Container -->
</div>
<!-- / Page -->        
